<h1>PRODUCTO: {{product.title}}</h1>
<ul>
    <li>Precio: $ {{product.price}}</li>
    <li>Descripcion: {{product.description}}</li>
    <li>Stock: {{product.stock}}</li>
    <li id="cartID">Cart ID: {{user.cartID}}</li>
    <li id="prodID">Product ID: {{product._id}}</li>
</ul>

<div id="myElement" data-id="{{product._id}}" ></div>

{{#if usuario}}
    <button id="addToCart">Agregar al Carrito</button><br><br>
    <script>
        let id
        document.addEventListener('DOMContentLoaded', function(){
            const element = document.getElementById('myElement');
            id = element.getAttribute('data-id');
        })
        const btnAddToCart = document.getElementById("addToCart")
        btnAddToCart.onclick = async () =>{
            const response  = await fetch(`/api/addProductToCart/${id}`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
            })
            if (response.status == 200) {
                alert("se agrego el producto al carrito")
            } else {
                alert("Error al agregar el producto al carrito")
            }
        }
    </script>
{{else}}
    Solo un usuario puede agregar productos al carrito <br><br>
{{/if}}

<button><a href="/products">VOLVER</a></button><br><br>
<button><a href="/cart">Ir al carrito</a></button>

<script src="/js/oneProduct.js"></script>