<h1>Perfil</h1>
<p>Nombre completo: {{user.first_name}} {{user.last_name}}</p>
<p>Correo electronico: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>Rol: {{user.role}}</p>
<p>Cart ID: {{user.cartID}}</p>
<div><p>Olvido su contraseña?</p><Button id="restablecer"><a href="/restabelcerContrasenia">Click Aqui Para Restablecer su contraseña</a></Button></div>
<br>
<form id="formLogout">
  <button type="submit">Logout</button>
</form>
{{!-- <button id="logout">Logout</button> --}}
<script src="/js/profile.js"></script>