<h1>Perfil</h1>
<p>Nombre completo: {{user.first_name}} {{user.last_name}}</p>
<p>Correo electronico: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>Rol: {{user.role}}</p>
<p>Cart ID: {{user.cartID}}</p>
<p>Ultima Conexion: {{user.last_connection}}</p>
<div><p>Olvido su contraseña?</p><Button id="restablecer"><a href="/mailEnviado">Click Aqui Para Restablecer su contraseña</a></Button></div>
<br>
<button><a href="/products">Ir a Productos</a></button><br><br>
<button><a href="/cart">Ir al carrito</a></button><br><br>
<form id="formLogout">
  <button type="submit">Logout</button>
</form>

<script src="/js/profile.js"></script>