<h1>Real Time Products</h1>

{{#if usuario}}
    <h2>Cargar Producto Nuevo: </h2>
    Titulo: <input id="inputTitulo" type="text"><br>
    Descripcion: <input id="inputDescripcion" type="text"><br>
    Precio: <input id="inputPrecio" type="text"><br>
    Imagen: <input id="inputImagen" type="text"><br>
    Codigo: <input id="inputCodigo" type="text"><br>
    Stock: <input id="inputStock" type="text"><br><br>
    <button id="btnCargar">Cargar Nuevo Producto</button>
{{else}}
    Solo un Administrador puede crear productos
{{/if}}

<div id="myElemento" data-id="{{idUsuario}}" ></div>
<div id="productos" data-id="{{todosProductos}}" ></div>

<h2>Productos en tiempo real: </h2> 

{{#if usuario}}
    <ul>
        {{#each productos}}
            <li>{{this.title}}: $ {{this.price}} <a href="/api/deleteProduct/{{this._id}}">Eliminar Producto</a></li>
        {{/each}}
    </ul> 
{{else}}
    <div id="realtime"></div>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>